.search-wrapper {
  position: relative;
  max-width: 220px;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 0.85rem;
}
input {
  padding-left: 30px !important;
}